/* 공통 */
:root {
  background-color: rgb(241, 226, 255);
}

* {
  box-sizing: border-box;
}

body {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid black;
}

header {
  text-align: center;
}

label {
  text-align: right;
}

input {
  margin-left: 0.5rem;
}

p {
  text-align: center;
  font-size: 12px;
  margin-top: 0;
  padding: 0 2rem;
}

.member {
  display: grid;
  grid-template-columns: 12% 88%;
  margin: 0 1rem;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
